// Fonts
$font_heading         : 'Open Sans', sans-serif;
$font_text            : 'Poppins', sans-serif;

// Colors 
$color_primary        : #5268F2;
$color_secondary      : #f6b93b;
$color_light_blue     : #020101;
$color_light_grey     : #F9F9FB;
$body_text            : #7C7885;
$color_white          : #fff;
$color_like_grey      : #f5f5f5;
$color_success        : #4caf50;
$color_danger         : rgb(242, 116, 116);
$color_dark_blue      : #292f36;
$color_orange         : #f0932b;
$color_black          : #000;
$color_footer         : #0C3A58;
$color_bg_grey        : rgba($color_primary,0.06);
$color_primary_light  : #edeffe;
$color_soft_grey      : #e0e0e0;
$color_footer_link    : #dee2e6;
$color_grey_secondary : #eee;
$color_shadow         : rgba(194, 188, 210, 0.20);

// Transition
$trs_linear           : all 0.25s linear;